html {
    background-color: rgb(47, 47, 47);
    color: white;
}

button {
    background-color: rgb(47, 47, 47);
    color: white;
    width: 120px;
    height: 40px;
}

body {
    background-color: rgb(47, 47, 47);

}
