
html {
    color: white;
    padding: 0;
    margin: 0;
    background-color: rgb(47, 47, 47);

}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    background: linear-gradient(45deg, #a14393, #3b20d5);
}

#snake-game {
    /* background: linear-gradient(45deg, #00000078, #2f2f2f); */
    background: linear-gradient(45deg, #000000c7, #585858);

    border-radius: 16px;
    padding: 28px;
    /* filter: blur(12px); */
}

.inactive {
    box-shadow: 4px 2px 4px 4px rgba(0, 0, 0, 0.5);
    /* filter: blur(8px); */
}

.inactive:hover {
    box-shadow: inset 0 0 0 2px #fff;
}

.inactive:focus {
    box-shadow: inset 0 0 0 4px rgb(240, 0, 0);
}

#snake-info {
    position: absolute;
    display: none;
    color: white;
    font-size: 4rem;
    font-weight: 600;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.show {
    display: grid;
}

.hide {
    display: none;
}

#snake-info.show {
    display: grid;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
